//modificar tamaño de los h desde h1 hasta h6
$base: 1rem;
@for $i from 1 through 6 {
  h#{$i} {
    font-size: #{(0.4 * (6-$i))}rem;
  }
  @include breakpoint(small) {
    h#{$i} {
      font-size: #{(0.15 * (6-$i))}rem;
    }
  }
}

table {
  @include centrarPadre();

  @while $num < 8 {
    tr:nth-child(#{$num}) {
      background-color: nth($color-list, $num);
      color: black;
    }
    $num: $num + 1;
  }
}
