nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      299deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(90, 90, 204, 1) 46%,
      rgba(0, 212, 255, 1) 100%
    );
    height: 100px;
    width: 84%;
    position: fixed;
    top: 0;
    margin: auto;
    @if $dark-theme== true{
      background: rgb(201,111,35);
      background: linear-gradient(315deg, rgba(201,111,35,1) 23%, rgba(247,174,33,1) 76%);
    }
    @include breakpoint(xl) {
      width: 84.4%;
    }
    label.logo {
      color: white;
      font-size: 30px;
      line-height: 100px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 100px;
      padding-right: 30px;
      width: 35%;
      font-weight: bold;
      @include breakpoint(small){
        visibility: hidden;
      }
      @include breakpoint(large) {
        font-size: 30px;
        padding-left: 50px;
      }
    }
    ul {
      float: right;
      margin-right: 20px;
      @include breakpoint(large) {
        position: fixed;
        width: 85%;
        height: 100vh;
        margin-left: 7.5%;
        margin-right: 7.5%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
      }
      li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
        @include breakpoint(large) {
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        a.active,
        a:hover {
          background: #1b9bff;
          transition: 0.5s;
          border-radius: 0.6rem;
          @include breakpoint(large) {
            background: none;
            color: #0082e6;
          }
          @if $dark-theme==true{
            background: $bg-color-dark-theme;

          }
        }
        a {
          color: white;
          padding: 5px;
          @include breakpoint(large) {
            font-size: 13px;
          }
        }
        a:link {
          text-decoration: none;
        }
      }
    }
    .checkbtn {
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
      @include breakpoint(large) {
        display: block;
      }
    }
    #check {
      display: none;
    }
    #check:checked ~ ul {
      @include breakpoint(large) {
        left: 0;
      }
    }
  }