//Colores
$color-background: rgb(68, 65, 65);
$container-color: rgb(247, 244, 244);
$link-color: rgb(84, 84, 218);
$font-color: rgb(105, 100, 100);
$display-grid: grid;
$grid-columns: 70% 30%;
$color-list: red, green, blue, yellow, #ca3ac1, #54499e, #f1554c;
$num: 1;
$color-background-dark-theme: #101c24;
$font-color-dark-theme: #b9c2c9;
$bg-color-dark-theme: #f7ae21;

$dark-theme:false;

//BreakPoints
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
);

//Tamaños
$width-container: 85%;
$margin: 0% auto;
$margin-container-child: 3%;
$font-size: 0.8rem;