body {
  .container {
    @if $dark-theme==true {
      background-color: $color-background-dark-theme;
    }
    nav {
      @if $dark-theme== true {
        background: rgb(201, 111, 35);
        background: linear-gradient(
          315deg,
          rgba(201, 111, 35, 1) 23%,
          rgba(247, 174, 33, 1) 76%
        );
      }
      a:hover {
        @if $dark-theme==true {
          background: $bg-color-dark-theme;
        }
      }
    }
    div.info {
      h1 {
        @if $dark-theme==true {
          color: $font-color-dark-theme;
        }
      }
      div {
        p {
          @if $dark-theme==true {
            color: $font-color-dark-theme;
          }
          a {
            @if $dark-theme==true {
              color: $bg-color-dark-theme;
            }
          }
        }
      }
    }
    main {
      @if $dark-theme==true {
        background-color: $bg-color-dark-theme;
      }
    }
    footer {
      h3 {
        @if $dark-theme==true {
          color: $font-color-dark-theme;
        }
      }
      p{
        @if $dark-theme==true{
            color:$font-color-dark-theme;
          }
      }
      section{
          h1{
            @if $dark-theme==true{
                color:$font-color-dark-theme;
              }
          }
      }
    }
  }
}
